---
title: Nav
---

<section>
  <h3>Nav Tabs</h3>
  <div id="nav-tabs"></div>
  <script>
    new jB.Nav({
        renderTo: '#nav-tabs'
        ,type: 'tabs'
        ,items: [
            {
                text: 'Item 1'
                ,activated: true
            },{
                text: 'Item 2'
            },{
                text: 'Item 3'
            }
        ]
    })
  </script>
  <br>
<pre class="prettyprint linenums">
new jB.Nav({
    renderTo: '#nav-tabs'
    ,type: 'tab'
    ,items: [
        {
            text: 'Item 1'
            ,activated: true
        },{
            text: 'Item 2'
        },{
            text: 'Item 3'
        }
    ]
})
</pre>
</section>

<section>
  <h3>Stacked Tabs</h3>
  <div id="nav-stacked-tabs"></div>
  <script>
      new jB.Nav({
          renderTo: '#nav-stacked-tabs'
          ,type: 'tabs'
          ,stacked: true
          ,items: [
              {
                  text: 'Item 1'
                  ,activated: true
              },{
                  text: 'Item 2'
              },{
                  text: 'Item 3'
              }
          ]
      })
  </script>
  <br>
<pre class="prettyprint linenums">
new jB.Nav({
    renderTo: '#nav-tabs'
    ,type: 'tabs'
    ,stacked: true
    ,items: [
        {
            text: 'Item 1'
            ,activated: true
        },{
            text: 'Item 2'
        },{
            text: 'Item 3'
        }
    ]
})
</pre>
</section>

<section>
  <h3>Nav Pills</h3>
  <div id="nav-pills"></div>
  <script>
      new jB.Nav({
          renderTo: '#nav-pills'
          ,type: 'pills'
          ,items: [
              {
                  text: 'Item 1'
                  ,activated: true
              },{
                  text: 'Item 2'
              },{
                  text: 'Item 3'
              }
          ]
      })
  </script>
  <br>
<pre class="prettyprint linenums">
new jB.Nav({
    renderTo: '#nav-pills'
    ,type: 'pills'
    ,items: [
        {
            text: 'Item 1'
            ,activated: true
        },{
            text: 'Item 2'
        },{
            text: 'Item 3'
        }
    ]
})
</pre>
</section>

<section>
  <h3>Stacked Pills</h3>
  <div id="nav-stacked-pills"></div>
  <script>
      new jB.Nav({
          renderTo: '#nav-stacked-pills'
          ,type: 'pills'
          ,stacked: true
          ,items: [
              {
                  text: 'Item 1'
                  ,activated: true
              },{
                  text: 'Item 2'
              },{
                  text: 'Item 3'
              }
          ]
      })
  </script>
  <br>
<pre class="prettyprint linenums">
new jB.Nav({
    renderTo: '#nav-pills'
    ,type: 'pills'
    ,stacked: true
    ,items: [
        {
            text: 'Item 1'
            ,activated: true
        },{
            text: 'Item 2'
        },{
            text: 'Item 3'
        }
    ]
})
</pre>
</section>

<section>
  <h3>Nav List</h3>
  <div id="nav-list"></div>
  <script>
      new jB.Nav({
          renderTo: '#nav-list'
          ,type: 'list'
          ,items: [
              {
                  text: 'Item 1'
                  ,activated: true
              },{
                  text: 'Item 2'
              },'-',{
                  text: 'Item 3'
              }
          ]
      })
  </script>
  <br>
<pre class="prettyprint linenums">
new jB.Nav({
    renderTo: '#nav-list'
    ,type: 'list'
    ,items: [
        {
            text: 'Item 1'
            ,activated: true
        },{
            text: 'Item 2'
        },{
            text: 'Item 3'
        }
    ]
})
</pre>
</section>