@import "jB/mixins";

#header {
  text-align: center;

  h1 {
    font-size: 120px;
    line-height: 1;
  }

  p {
    font-size: 40px;
    line-height: 1.25;
    margin-bottom: 30px;
  }

  .btn {
    font-size: 24px;
    padding: 19px 24px;
    margin-bottom: 30px;
  }

  ul {
    > li {
      > a {
        color: rgba(white, .5);
        &:hover {
          color: white;
          @include transition(all .2s ease-in-out);
        }
      }
    }
  }
}