$color-primary: primary, #0044cc;
$color-info: info, #2f96b4;
$color-success: success, #51a351;
$color-warning: warning, #f89406;
$color-error: error, #bd362f;
$color-danger: danger, #bd362f;
$color-inverse: inverse, #222222;

$colors: $color-primary, $color-info, $color-success, $color-warning, $color-error, $color-danger, $color-inverse;