.tooltip {
  @each$color-hash in $colors {
    $name: nth($color-hash, 1);
    $color: nth($color-hash, 2);

    &.tooltip-#{$name} {
      > .tooltip-inner {
        background-color: $color;
      }

      @each $placement in top, right, bottom, left {
        &.#{$placement} {
          > .tooltip-arrow {
            border-#{$placement}-color: $color;
          }
        }
      }
    }
  }
}