<div id="home-banner">
  <h1>Bootstrap JS</h1>
  <p>The Javascipt version of <a href="http://twitter.github.io/bootstrap">Twitter Bootstrap</a></p>
  <a href="#" class="btn btn-primary btn-large">Download Bootstrap JS</a>
  <ul class="inline">
    <li><a href="https://github.com/lytc/jbootstrap">Github project</a></li>
    <li><a href="#">Version 1.0</a></li>
  </ul>
</div>